html{
    color:rgba(0,0,0,0.8);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: rgb(214, 217, 235);
    
}
.full-height {
    min-height: 100dvh;
}

.centered--grid {
    display: grid;
    place-content: center;
}

.centered--flex {
    display: flex;
    place-content: center;
}
/* 
    Card for holding a QR code
*/
.card--qr{
    max-width: 20rem;
    padding: 1rem;
    text-align: center;
    border-radius: 5%;
    background-color: white;
}

.qr-image{
    max-width: 100%;
    max-height: 100%;
    border-radius: 4%;
    margin-bottom: 0.25rem;
}

.card__text-container{
    padding: 0 1.375rem;
}

.card-description{
    color:rgba(0,0,0,0.4)
}